@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("font/Shrikhand-Regular.ttf");
}
body {
  margin: 0px;
  font-family: Roboto;
  background-color: #dbdada;
}

header {
  font-family: Shrikhand;
  font-weight: bolder;
  display: flex;
  align-items: flex-end;
  height: 320px;
  justify-content: center;
  background-size: cover;
  background-image: url("../../Maquettes Ohmyfood/Maquettes Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
header h1 {
  border-radius: 30px 30px 0px 0px;
  margin: 0px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #dbdada;
}

.entree {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.entree .titre-entree {
  margin-left: 20px;
}
.entree .intitule-repas {
  background-color: white;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.entree .intitule-repas span {
  margin-left: 10px;
}
.entree .intitule-repas .titre-repas {
  font-weight: bolder;
}
.entree .intitule-repas .accompagnement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 90%;
  padding-top: 5px;
}
.entree .intitule-repas .accompagnement .prix {
  padding-right: 20px;
  font-weight: bolder;
}

.plat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.plat .titre-plat {
  margin-left: 20px;
  margin-top: 20px;
}
.plat .intitule-repas {
  background-color: white;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.plat .intitule-repas span {
  margin-left: 10px;
}
.plat .intitule-repas .titre-repas {
  font-weight: bolder;
}
.plat .intitule-repas .accompagnement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 90%;
  padding-top: 5px;
}
.plat .intitule-repas .accompagnement .prix {
  padding-right: 20px;
  font-weight: bolder;
}

.dessert {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.dessert .titre-dessert {
  margin-left: 20px;
  margin-top: 20px;
}
.dessert .intitule-repas {
  background-color: white;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.dessert .intitule-repas span {
  margin-left: 10px;
}
.dessert .intitule-repas .titre-repas {
  font-weight: bolder;
}
.dessert .intitule-repas .accompagnement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 90%;
  padding-top: 5px;
}
.dessert .intitule-repas .accompagnement .prix {
  padding-right: 20px;
  font-weight: bolder;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn .commander-btn {
  width: 160px;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 45px;
  color: white;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  border-style: none;
}

footer {
  width: 100%;
  background-color: #333232;
  color: white;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
footer .logo {
  font-family: "shrikhand";
  padding: 20px;
}
footer a {
  color: white;
  text-decoration: none;
  padding-left: 20px;
}
footer a .fas {
  padding-right: 20px;
}
footer .liens {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*# sourceMappingURL=menu-le-delice-des-sens.css.map */
