.loader-container
{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: -1;
    animation: fade-out 3s linear;
    @keyframes fade-out {
        0%{
            opacity:1;
            z-index: 10;
        }
        100%{
            opacity:0;
        }
    }
}
.loader
{
    margin-top: 35px;
    margin-bottom: 35px;
    border: 10px solid $tertiary-color;
    width: 50px;
    height: 50px;
    border-top-color: $primary-color;
    border-bottom-color: $secondary-color;
    border-radius: 50%;
    animation: loader 3s linear;
    @keyframes loader {
        0% {
            transform: rotate(0deg) scale(1);
        }
        50%{
           transform: rotate(360deg) scale(1.3);
        }
        100%{
            transform: rotate(720deg) scale(1);
        }
    }
}
.section-menu
{
    animation: fade-in 700ms ease-in-out;
    @keyframes fade-in {
        0%{
            transform: translateX(30%);
            opacity: 0;
        }
        100%{
            transform: translateX(0%);
            opacity: 1;
        }

    }
}
.card-restaurant-body
{
    .fas 
    {
        &:hover
        {
            animation: heart 900ms ease-in;
            animation-fill-mode: forwards;
            @keyframes heart {
                0%{

                }
                50%{
                    color: linear-gradient(white,$primary-color);
                }
                100%{
                    color: $primary-color;
                    -webkit-text-stroke: $primary-color 3px;
                }
            }
        }
    }
}
.entete-page
{
    .fas
    {
        &:hover
        {
            -webkit-animation: heart 900ms ease-in;
            animation: heart 900ms ease-in;
            animation-fill-mode: forwards;
            @keyframes heart {
                0%{

                }
                50%{
                    color: linear-gradient(white,$primary-color);
                }
                100%{
                    color: $primary-color;
                    -webkit-text-stroke: $primary-color 3px;
                }
            }
        }
    }
}
.repas
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    &:hover
    {
        .prix {
            margin-right: 70px;
        }
        .repas-select
        {
            right: 0px;
            transition-duration: 300ms;
            .fas
            {
                color: white;
                transition-duration: 500ms;
                transform: rotate(360deg);
            }
        }
    }

    .intitule-repas
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
    }
    .prix
    {
        margin-right: 10px;
        font-weight: bolder;
        transition-duration: 300ms;

    }
    .repas-select
    {
        background-color: #07f1ca;
        position: absolute;
        width: 60px;
        right: -60px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}