@import "_variables.scss";
@import "_mixins.scss";

@font-face 
{
    font-family: "Shrikhand";
    src: url("/style/font/Shrikhand-Regular.ttf");
}
@font-face
{
    font-family: "Roboto";
    src: url("/style/font/Roboto-Regular.ttf");
}

body
{
    width: auto;
    font-family: Roboto;
    margin: 0px;
}
header
{
    margin: 0px;
    display: flex;
    flex-direction: column;
    .titre
    {
        font-family: Shrikhand;
        font-size: 160%;
        border-bottom: 2px solid grey;
        width: 100%;
        text-align: center;
        margin: 0px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .localisation
    {
        background-color: $localisation-color;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        ::placeholder
        {
            background-color: $localisation-color;
            color: black;
            font-family: Roboto;
            text-align: center;
        }
        input 
        {
            background-color: (lighten($color: rgba(168, 167, 167, 0.664), $amount: 60%));
            padding: 0px;
            border: 0px;
        }
    }
    .explorer
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-color: (lighten($color: rgba(168, 167, 167, 0.664), $amount: 20%));
        padding-bottom: 40px;
        font-family: Roboto;
        h2 
        {
            margin-top: 25px;
            margin-bottom: 0px;
            padding-left: 65px;
            padding-right: 65px;
            text-align: center;
            font-size: 180%;
        }
        p 
        {
            margin-top: 12px;
            margin-bottom: 20px;
            padding-left: 40px;
            padding-right: 40px;
            text-align: center;
            font-weight: lighter;
        }
        .explorer-btn
        {
            width: 240px;
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 45px;
            color: white;
            background: linear-gradient(to left top, $primary-color, $secondary-color);
            border-style: none;

        }
    }
}
main 
{
    h1 
    {
        padding-left: 30px;
    }
    .fonctionnement
    {
        padding: 20px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        .tuile
        {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            background-color: (lighten($color: rgba(168, 167, 167, 0.664), $amount: 20%));
            border-radius: 20px;
            height: 70px;
            box-shadow: 3px 3px 6px rgba(168, 167, 167, 0.664);
            font-weight: bolder;

            &:hover
            {
                background-color: lighten($color: $primary-color , $amount: 35%);
                .fas
                {
                    color: $primary-color;
                }
            }
        }
        
        .fas
        {
            color: darken($color: $localisation-color, $amount: 40%) ;
        }
        .tuile-nb
        {
            background-color: $primary-color;
            border-radius: 50%;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 5px;
            padding-top: 5px;
            color: white;
            margin-left: -10px;
        }
    }
}
.restaurant
{
    h1 
    {
        padding-left: 0px;
    }
    background-color: (lighten($color: rgba(168, 167, 167, 0.664), $amount: 20%));
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    padding-left: 30px;
    gap: 30px;
    .card-restaurant
    {
        @include card-restaurant;
        .card-restaurant-img
        {
            position: relative;
        }
        .badge 
        {
        color: rgb(23, 144, 23);
        background-color: rgb(122, 240, 200);
        z-index: 1;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 10px;
        padding-left: 18px;
        padding-right: 21px;
        &:active
        {
            background-color: $primary-color;
        }
        }
    }
}
footer
{
   @include footer;
}