@import "_variables.scss";
@import "_mixins.scss";

@font-face
{
    font-family: "Roboto";
    src: url("/style/font/Roboto-Regular.ttf");
}
@font-face 
{
    font-family: "Shrikhand";
    src: url("/style/font/Shrikhand-Regular.ttf");
}
body
{
    @include body-menu;
}
header
{
    @include header-menu;
    background-image: url("/style/images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    @include header-entete;

}
.section-menu
{
    @include organisation-tuile;
    .titre
    {
        @include titre-menu;
    }
    @include tuile-menu;
    margin-bottom: 20px;
}

.btn 
{
    @include commander-btn;
}
footer 
{
    @include footer;
    margin-top: 30px;
}

