@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

@font-face
{
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}
@font-face 
{
    font-family: "Shrikhand";
    src: url("../font/Shrikhand-Regular.ttf");
}
body
{
    @include body-menu;
}
header
{
    @include header-menu;
    @include header-entete;
    .restaurant-img
    {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -30px;
        img {
            width: 150%;
            height: auto;
        }
        @media screen and (min-width: 992px) 
        {
            img {
                width: 100%;
            }
        }
    }
}
.section-menu
{
    @include organisation-tuile;
    .titre
    {
        @include titre-menu;
    }
    @include tuile-menu;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.btn
{
    @include commander-btn;
}
footer 
{
    @include footer;
    margin-top: 30px;
}
@include media-queries;