@import "_variables.scss";
@import "_mixins.scss";

@font-face
{
    font-family: "Roboto";
    src: url("font/Roboto-regular.ttf");
}
@font-face 
{
    font-family: "Shrikhand";
    src: url("font/Shrikhand-Regular.ttf");
}
body
{
    @include body-menu;
}
header
{
    @include header-menu;
    background-image: url("../../Maquettes Ohmyfood/Maquettes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    
    h1 
    {
        @include header-h1-menu;
    }
}
.entree
{
    @include organisation-tuile;
    .titre-entree
    {
        margin-left: 20px;
    }
    @include tuile-menu;
}
.plat
{
    @include organisation-tuile;
    .titre-plat
    {
        margin-left: 20px;
        margin-top: 20px;
    }
    @include tuile-menu;
}
.dessert
{
    @include organisation-tuile;
    .titre-dessert
    {
        margin-left: 20px;
        margin-top: 20px;
    }
    @include tuile-menu;
}
.btn
{
    @include commander-btn;
}
footer 
{
    @include footer;
    margin-top: 30px;
}